.option-popup-area {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 5000;
  width: 100%;
  height: 100%;

  .menu-option-popup {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    z-index: 10000;
    width: 100%;
    max-height: calc(100% - 45px);
    background-color: $booking-color-border151;
  }

  .content-top-pattern {
    position: absolute;
    top: -11px;
    width: 100%;
    height: 11px;
    fill: white;
  }

  .content-top {
    height: 100px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.08);
    z-index: 1;
    border-bottom: 1px solid $booking-color-border122;
    background-color: #fff;
  }
  
  .content-body {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    div {
        background-color: lightcoral;
    }
  }

  .content-bottom {
    padding: 0 10px 10px;
  }
}
